*{
padding: 0;
margin: 0;
box-sizing: border-box;
}


@font-face{
font-family:Caveat-VariableFont ;
src: url(../fonts/Caveat-Regular.ttf) ;

}


main{
width: 80%;
max-width: 1000px;
display: flex;
padding: 30px;
margin: auto;
background-color: #fff;
flex-wrap: wrap;
}

body{
background-color: #efefef;
font-family:Caveat-VariableFont ;
background-image: url(../images/100.jpg);

}

.photo {
	max-width: 270;
	max-height:490 ;
	width: calc(50% - 20px);
	height: calc(95vw / 2 / 16 * 9);
	margin: 10px;
	background-color: burlywood;
	background-position: center;
	background-size: cover;
	-webkit-background-size:cover;
}



.img_link{ 
display: contents;
opacity: 0.4s linear, transform 0.3s ease-in;
 }

.img_link:hover {
    opacity: 1;
    transform: scale(1.3); 
    z-index: 10;

}

.photo1 {
    background-image: url(../images/1.jpeg);
 }

.photo2 {
 	background-image: url(../images/2.jpeg);
 }
.photo3 {
 	background-image: url(../images/3.jpeg);
 }
.photo4 {
 	background-image: url(../images/4.jpeg);
 }
.photo5 {
 	background-image: url(../images/5.jpeg);
 }
.photo6 {
 	background-image: url(../images/6.jpeg);
 }
.photo7 {
 	background-image: url(../images/7.jpeg);
 }
.photo8 {
 	background-image: url(../images/8.jpeg);
 }
.photo9 {
 	background-image: url(../images/9.jpeg);
}
.photo10 {
 	background-image: url(../images/10.jpeg);
}
.photo11 {
    background-image: url(../images/11.jpg);
 }
.photo12 {
    background-image: url(../images/12.jpg);
 }


@media all and (max-width: 768px)
{
    .photo
    {
     max-width: initial;
    max-height: initial;
    width: 95vw ;
    height: calc(95vw / 16 * 9);
}

    .img_link{
        margin: 5px 0;

             }
    
}

@media all and (min-width: 800px)
{
    .photo:hover{
  
    opacity: 1;
    transform:scale(1.3) rotate(25deg);
    z-index: 10;
    box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.4);
    }

}



